body {
    background-color: bisque;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 80px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator{
    width: 340px;
    height: 500px;
    background-color: rgb(88, 97, 106);
    border-radius: 20px;
    display:grid;
    grid-template-columns: repeat(4,75px);
    margin:0 auto;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

button {
    cursor: pointer;
    font-family: Arial;
    font-size: 24px;
    width: 70px;
    height: 65px;
    border: none;
    border-radius: 10px;
    box-shadow: 10px 10px 20px -6px #00000075;
}
#reset{
    grid-column: span 2;
    width: 145px;
}
 
.root {
    background-color: orange;
    size-adjust: 50px
}

button:active {
    background-color: rgb(77, 115, 153);
}

.operator {
    background-color: orange;
    size-adjust: 50px
}

.display{
    display: block;
    width: 285px;
    height: 100px;
    font-family: Arial;
    padding-right: 10px;
    text-align: right;
    overflow-x: auto;
    border: none;
    font-size: 30px;
    background-color: lightgray; 
    border-radius: 10px;
    box-shadow: 5px 5px 10px -3px #00000075;
    grid-column: 1/-1;
    padding-top: 10px;
}

#zero {
    grid-column: span 2;
    width: 145px;
}



